.our_galary {
  width: 100vw;
  overflow: auto;
  height: 24rem;
  display: flex;
  padding: 0 2rem;
  scroll-snap-type: proximity;
  scroll-behavior: auto;
}

.our_galary img {
  height: 100%;
  object-fit: cover;
  margin: 0 1.5rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}



@media (max-width: 850px) {
  .our_galary {
    height: 20rem;
  }
}

@media (max-width: 460px) {
  .our_galary {
    height: 18rem;
  }
}